---
---

@import "{{ site.theme }}";
#pages li {
  float:left;
  list-style:none;
  height:25px;
  text-align: center;
  padding:20px;
  background: #f4f4f4;
  border-radius:5px;
  border:1px solid #e0e0e0;
  width:70px;
}
