<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="IIclXP51ofpbodW3sO7eUJfzVC_4g9Oosjn5O2Q8MIQ" />
    <link rel="shortcut icon" type="image/png" href="https://alexanderbendeck.github.io/files/favicon.png">
    <link rel="shortcut icon" sizes="196x196" href="https://alexanderbendeck.github.io/files/favicon.png">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="https://alexanderbendeck.github.io/"><h1>Alexander Bendeck</h1></a>
        
        <img src="https://alexanderbendeck.github.io/files/portrait2.jpg" width="400" />

        <ul>
          <li><a href="https://alexanderbendeck.github.io/"><strong>Home</strong></a></li>
          <li><a href="https://alexanderbendeck.github.io/projects.html"><strong>Projects</strong></a></li>
          <li><a href="https://alexanderbendeck.github.io/publications.html"><strong>Publications</strong></a></li>
        </ul>
        
        <p> Fourth-year undergraduate student  <br> Duke University  <br>   alexander.bendeck at duke dot edu <br></p>

        <p class="view"><small><a href="{{ site.github.owner_url }}">GitHub</a> | <a href="https://alexanderbendeck.github.io/files/Alexander Bendeck CV Fall 20.pdf">CV</a></small></p>
        
      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
